BKPAAS_APP_ID=bk-lab4
BKPAAS_APP_SECRET=replace-with-your-app-secret
BKPAAS_MAJOR_VERSION=3
BK_PAAS2_URL=https://ce.bktencent.com
BK_COMPONENT_API_URL=https://bkapi.ce.bktencent.com
BKPAAS_LOGIN_URL=https://ce.bktencent.com/login/
BKPAAS_JOB_URL=https://job.ce.bktencent.com
BKVISION_DASHBOARD_URL=
